/* Body */
body {
    margin: 0px;
    box-sizing: border-box;
}

/* Main container */
.container {
    box-sizing: border-box;
}

/* Style for the header section */
#header-section {
    padding: 4px;
    color: #000;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

/* Style for the body section */
.body-section {
    display: flex;
    height: calc(100vh - 29px);
}

/* Style for each card */
#card-section {
    flex:0.8;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
}

/* Style for the button container */
#button-section {
    flex: 0.2;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

/* Style for the buttons */
button {
    background-color: #6fc4d8;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    border: none;
    padding: 6px 10px;
    box-shadow: 0px 4px 2px #298cac;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

/* Style for each cards */
.card {
    flex-grow: 1;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Style for the numbering inside the card */
.number-style {
    font-weight: 700;
    font-size: 30px;
    color: white;
    z-index: 5;
}

/* Responsive code */
@media screen and (max-width: 376px) {
    #header-section {
        background-color: #333333;
        color:  #ffffff;
    }
    .body-section {
        flex-direction: column-reverse;
        background: white;
        padding: 10px;
        justify-content: baseline;
    }
    .card {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .card::after {
        content: '';
        height: 100%;
        width: 94%;
        background-color: #efefef;
        position: absolute;
        z-index: 2;
        left: 6%;
        z-index: 3;
    }
    #button-section {
        flex-direction: row;
        justify-content: center;
        padding: 5px 0px;
        flex: initial;
        background-color: #ffffff;
    }
    button {
        width: 100px;
    }
    button+button {
        margin-left: 10px;
    }
    .number-style {
        color: #000000;
    }
}